.container {
	position: relative;
  width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	width: 90%;
	@media (min-width: $breakpoint-large) {
		width: 80%;
	}
}

.container--large {
	max-width: $breakpoint-large;
}

.container--border {
	border-bottom: 1px solid $color-highlight-2
}
